<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">All Shelters</h2>
  <div id="no-more-tables">
    <table class="col-md-12 table-bordered table-striped table-condensed cf">
      <thead class="cf">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Address</th>
          <th class="text-center">Beds available</th>
          <th class="text-center">Daily checkin time</th>
          <th class="text-center">Last updated</th>
          <th class="text-center"></th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>
      </thead>

      <tbody>
        <% @shelters.each do |shelter| %>
        <tr>
          <td data-title="Name"><%= shelter.name %></td>
          <td data-title="Address"><%= shelter.address %></td>
          <% if shelter.beds_available.present? %>
            <td data-title="Beds available"><%= shelter.beds_available %></td>
          <% else %>
            <td data-title="Beds available">--</td>
          <% end %>
          <% if shelter.checkin_time.present? %>
            <td data-title="Daily checkin time"><%= shelter.checkin_time.strftime("%I:%M %p") %></td>
          <% else %>
            <td data-title="Daily checkin time">--</td>
          <% end %>
          <% if shelter.availability_reports.any? %>
            <td data-title="Last updated"><%= shelter.availability_reports.last.created_at.strftime("%A, %b %e, %l:%M %p") %></td>
          <% else %>
            <td data-title="Last updated">--</td>
          <% end %>
          <td><%= link_to "Delete", admin_shelter_path(shelter), :method => "delete" %></td>
          <td><%= link_to "Edit", edit_admin_shelter_path(shelter) %></td>
          <td><%= link_to "Update", new_admin_shelter_availability_report_path(shelter) %></td>
        </tr>
        <% end %>
      </tbody>

    </table>
    <%= link_to "Add a Shelter", new_admin_shelter_path %>
  </div>
</div>
